loaders:
  - type: python
    search_path: [../../../haystack/nodes/reader]
    modules: ["base"]
    ignore_when_discovered: ["__init__"]
processors:
  - type: filter
    expression:
    documented_only: true
    do_not_filter_modules: false
    skip_empty_modules: true
  - type: smart
  - type: crossref
renderer:
  type: renderers.ReadmeRenderer
  excerpt: Abstract class for Readers.
  category_slug: haystack-classes
  title: Base Reader API
  slug: base-reader-api
  order: 162
  parent_doc_slug: reader-api
  markdown:
    descriptive_class_title: false
    descriptive_module_title: true
    add_method_class_prefix: true
    add_member_class_prefix: false
    filename: base_reader_api.md
