loaders:
  - type: haystack_pydoc_tools.loaders.CustomPythonLoader
    search_path: [../../../haystack/components/preprocessors]
    modules: ["document_cleaner", "document_splitter", "text_cleaner", "nltk_document_splitter"]
    ignore_when_discovered: ["__init__"]
processors:
  - type: filter
    expression:
    documented_only: true
    do_not_filter_modules: false
    skip_empty_modules: true
  - type: smart
  - type: crossref
renderer:
  type: haystack_pydoc_tools.renderers.ReadmeCoreRenderer
  excerpt: Preprocess your Documents and texts. Clean, split, and more.
  category_slug: haystack-api
  title: PreProcessors
  slug: preprocessors-api
  order: 100
  markdown:
    descriptive_class_title: false
    classdef_code_block: false
    descriptive_module_title: true
    add_method_class_prefix: true
    add_member_class_prefix: false
    filename: preprocessors_api.md
