loaders:
  - type: loaders.CustomPythonLoader
    search_path: [../../../haystack]
    modules: ["schema"]
    ignore_when_discovered: ["__init__"]
processors:
  - type: filter
    expression:
    documented_only: true
    do_not_filter_modules: false
    skip_empty_modules: true
  - type: smart
  - type: crossref
renderer:
  type: renderers.ReadmeRenderer
  excerpt: These are the core classes that carry data through the system.
  category_slug: haystack-classes
  title: Primitives API
  slug: primitives-api
  order: 110
  markdown:
    descriptive_class_title: false
    descriptive_module_title: true
    add_method_class_prefix: true
    add_member_class_prefix: false
    filename: primitives_api.md
