loaders:
  - type: loaders.CustomPythonLoader
    search_path: [../../../haystack/nodes/query_classifier]
    modules: ["sklearn", "transformers"]
    ignore_when_discovered: ["__init__"]
processors:
  - type: filter
    expression:
    documented_only: true
    do_not_filter_modules: false
    skip_empty_modules: true
  - type: smart
  - type: crossref
renderer:
  type: renderers.ReadmeRenderer
  excerpt: Distinguishes between keyword, question and statements queries.
  category_slug: haystack-classes
  title: Query Classifier API
  slug: query-classifier-api
  order: 130
  markdown:
    descriptive_class_title: false
    descriptive_module_title: true
    add_method_class_prefix: true
    add_member_class_prefix: false
    filename: query_classifier_api.md
