loaders:
  - type: loaders.CustomPythonLoader
    search_path: [../../../haystack/nodes/ranker]
    modules: ["sentence_transformers", "recentness_ranker", "cohere", "diversity", "lost_in_the_middle"]
    ignore_when_discovered: ["__init__"]
processors:
  - type: filter
    expression:
    documented_only: true
    do_not_filter_modules: false
    skip_empty_modules: true
  - type: smart
  - type: crossref
renderer:
  type: renderers.ReadmeRenderer
  excerpt: Reorders a set of Documents based on their relevance to the Query.
  category_slug: haystack-classes
  title: Ranker API
  slug: ranker-api
  order: 150
  markdown:
    descriptive_class_title: false
    descriptive_module_title: true
    add_method_class_prefix: true
    add_member_class_prefix: false
    filename: ranker_api.md
