loaders:
  - type: loaders.CustomPythonLoader
    search_path: [../../../haystack/nodes/image_to_text]
    modules: ["transformers"]
    ignore_when_discovered: ["__init__"]
processors:
  - type: filter
    expression:
    documented_only: true
    do_not_filter_modules: false
    skip_empty_modules: true
  - type: smart
  - type: crossref
renderer:
  type: renderers.ReadmeRenderer
  excerpt: Generates captions for images.
  category_slug: haystack-classes
  title: TransformersImageToText API
  slug: transformers-image-to-text-api
  order: 185
  markdown:
    descriptive_class_title: false
    descriptive_module_title: true
    add_method_class_prefix: true
    add_member_class_prefix: false
    filename: transformers-image-to-text.md
