.[dev]

# Package                                        Components

transformers[torch,sentencepiece]==4.36.2       # ExtractiveReader, TransformersSimilarityRanker, LocalWhisperTranscriber, HFGenerators...
spacy>=3.7,<3.8                                 # NamedEntityExtractor
spacy-curated-transformers>=0.2,<=0.3           # NamedEntityExtractor
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl # NamedEntityExtractor

# Converters
pypdf                                           # PyPDFConverter
markdown-it-py                                  # MarkdownToDocument
mdit_plain                                      # MarkdownToDocument
tika                                            # TikaDocumentConverter
azure-ai-formrecognizer>=3.2.0b2                # AzureOCRDocumentConverter

langdetect                                      # TextLanguageRouter and DocumentLanguageClassifier
sentence-transformers>=2.2.0                    # SentenceTransformersTextEmbedder and SentenceTransformersDocumentEmbedder
openai-whisper>=20231106                        # LocalWhisperTranscriber

# OpenAPI
jsonref                                        # OpenAPIServiceConnector, OpenAPIServiceToFunctions
openapi3
