[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
weaviate-client = "==3.10.0"
ray = "*"
pipenv = "*"
fastapi = "*"
pymilvus = "*"
rank_bm25 = "*"
faiss-cpu = ">=1.6.3,<=1.7.2"

[dev-packages]
pytest-asyncio = "*"

[requires]
python_version = "3.7"
