---

components:
  generator:
    init_parameters:
      api_key:
        env_vars: [ "OPENAI_API_KEY" ]
        strict: true
        type: "env_var"
      model: "gpt-4o-mini"
    type: "haystack.components.generators.openai.OpenAIGenerator"

  prompt_builder:
    init_parameters:
      template: "{% raw %}Answer the question {{question}}.\n Answer:\n{% endraw %}"
    type: "haystack.components.builders.prompt_builder.PromptBuilder"


connections:
- receiver: generator.prompt
  sender: prompt_builder.prompt

metadata:
  {}
