components:
  generator: {{ generator | default({
    "init_parameters": {
      "api_key": {
        "env_vars": [ "OPENAI_API_KEY" ],
        "strict": true,
        "type": "env_var"
      },
      "model": "gpt-3.5-turbo"
    },
    "type": "haystack.components.generators.openai.OpenAIGenerator"
  }, true) | tojson }}
  prompt_builder: {{ prompt_builder | default({
    "init_parameters": {
      "template": "\nGiven the question {{question}}\nAnswer it in German only.\n\nAntwort:",
    },
    "type": "haystack.components.builders.prompt_builder.PromptBuilder"
  }, true) | tojson }}
connections:
- receiver: generator.prompt
  sender: prompt_builder.prompt
max_loops_allowed: 2
metadata: {}
