{
    "openapi": "3.0.0",
    "info": {
        "title": "SerperDev",
        "version": "1.0.0",
        "description": "API for performing search queries"
    },
    "servers": [
        {
            "url": "https://google.serper.dev"
        }
    ],
    "paths": {
        "/search": {
            "post": {
                "operationId": "search",
                "description": "Search the web with Google",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "q": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apikey": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "apikey": {
                "type": "apiKey",
                "name": "x-api-key",
                "in": "header"
            }
        }
    }
}
