version: "3"
services:
  haystack-api:
    restart: always
    environment:
      CONCURRENT_REQUEST_PER_WORKER: 16
      HAYSTACK_EXECUTION_CONTEXT: "public_demo"
    command: "/bin/bash -c 'sleep 10 && gunicorn rest_api.application:app -b 0.0.0.0 -k uvicorn.workers.UvicornWorker --workers 3 --timeout 180'"

  elasticsearch:
    restart: always
  ui:
    restart: always
    environment:
      DEFAULT_DOCS_FROM_RETRIEVER: 7
      DEFAULT_NUMBER_OF_ANSWERS: 5
      DISABLE_FILE_UPLOAD: 1
