name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
      
    - name: Run Elasticsearch
      run: docker run -d -p 9200:9200 -e "discovery.type=single-node" -e "ES_JAVA_OPTS=-Xms128m -Xmx128m" elasticsearch:7.9.2

    - name: Run Apache Tika
      run: docker run -d -p 9998:9998 -e "TIKA_CHILD_JAVA_OPTS=-JXms128m" -e "TIKA_CHILD_JAVA_OPTS=-JXmx128m" apache/tika:1.24.1

    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
      
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install -r requirements.txt
        pip install -e .

    - name: Run Pytest without generator/pipeline marker
      run: cd test &&  pytest -m "not pipeline and not generator and not summarizer"

#    - name: Stop Containers
#      run: docker rm -f `docker ps -a -q`

    - name: Run pytest with generator/pipeline marker
      run: cd test && pytest -m "pipeline or generator"

    - name: Run pytest with summarizer marker
      run: cd test && pytest -m "summarizer"

    - name: Test with mypy
      run: |
        pip install mypy
        mypy haystack --ignore-missing-imports
