name: Vale Lint

on:
  pull_request:
    paths:
      - 'docs-website/**'
  push:
    branches: [ main ]
    paths:
      - 'docs-website/**'

permissions:
  contents: read
  pull-requests: write

jobs:
  vale:
    name: Run Vale
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Install mdx2vast
        run: npm install -g mdx2vast

      - name: Vale
        uses: errata-ai/vale-action@v2
        with:
          vale_flags: "--config=docs-website/.vale.ini"
          files: docs-website/docs
          reporter: github-pr-review
          fail_on_error: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
