name: Tests (Linux)

on:
  # Activate this workflow manually
  workflow_dispatch:
  push:
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - '**/*.png'
      - '**/*.gif'

jobs:

  unit-tests:
    runs-on: ubuntu-20.04
    timeout-minutes: 45
    strategy:
      matrix: 
        folder:
          - "node_tests"
          - "pipeline_tests"
          - "modeling_tests"
          - "other_tests"
    steps:
    - uses: actions/checkout@v2
    - uses: ./../.github/actions/linux_cache

    # Haystack needs to be reinstalled at this stage to make sure the current commit's version is the one getting tested.
    # The cache can last way longer than a specific action's run, so older Haystack version could be carried over.
    - name: Install Haystack
      run: pip install .

    - name: Run tests
      run: pytest -s -m "not elasticsearch and not faiss and not milvus and not milvus1 and not weaviate and not pinecone and not graphdb and not integration" test/${{ matrix.folder }} --document_store_type=memory,sql  --durations=10

  document-store-tests:
    needs: unit-tests
    runs-on: ubuntu-20.04
    timeout-minutes: 45

    strategy:
      matrix:
        include:
        - marker: elasticsearch
          command: docker run -d -p 9200:9200 -e "discovery.type=single-node" -e "ES_JAVA_OPTS=-Xms128m -Xmx128m" elasticsearch:7.9.2
        - marker: faiss
        - marker: milvus
          command: |
            cd ../../   # Avoid causing permission issues on hashFiles later by creating unreadable folders like "volumes"
            wget https://github.com/milvus-io/milvus/releases/download/v2.0.0/milvus-standalone-docker-compose.yml -O docker-compose.yml
            sudo docker-compose up -d
            sudo docker-compose ps
        - marker: milvus1
          command: docker run -d -p 19530:19530 -p 19121:19121 milvusdb/milvus:1.1.0-cpu-d050721-5e559c
        - marker: weaviate
          command: docker run -d -p 8080:8080 --name haystack_test_weaviate --env AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED='true' --env PERSISTENCE_DATA_PATH='/var/lib/weaviate' semitechnologies/weaviate:1.11.0
        - marker: pinecone
        - marker: graphdb
          command: docker run -d -p 7200:7200 --name haystack_test_graphdb deepset/graphdb-free:9.4.1-adoptopenjdk11

    steps:
    - uses: actions/checkout@v2
    - uses: ./../.github/actions/linux_cache

    - name: Setup Docstore
      run: ${{ matrix.command }}

    # Haystack needs to be reinstalled at this stage to make sure the current commit's version is the one getting tested.
    # The cache can last way longer than a specific action's run, so older Haystack version could be carried over.
    - name: Install Haystack
      run: pip install .[ ${{ matrix.marker }} ]

    - name: Run document store tests
      env:
        PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}  # FIXME set only for Pinecone!
      run: pytest -s -m "${{ matrix.marker }} and not integration" test/document_store_tests/ --document_store_type=${{ matrix.marker }}


  integration-tests:
    needs: unit-tests
    runs-on: ubuntu-20.04
    timeout-minutes: 45

    steps:
    - uses: actions/checkout@v2
    - uses: ./../.github/actions/linux_cache

    - name: Run Elasticsearch
      run: docker run -d -p 9200:9200 -e "discovery.type=single-node" -e "ES_JAVA_OPTS=-Xms128m -Xmx128m" elasticsearch:7.9.2

    - name: Run Milvus
      run: |
        cd ../../   # Avoid causing permission issues on hashFiles later by creating unreadable folders like "volumes"
        wget https://github.com/milvus-io/milvus/releases/download/v2.0.0/milvus-standalone-docker-compose.yml -O docker-compose.yml
        sudo docker-compose up -d
        sudo docker-compose ps

    - name: Run Weaviate
      run: docker run -d -p 8080:8080 --name haystack_test_weaviate --env AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED='true' --env PERSISTENCE_DATA_PATH='/var/lib/weaviate' semitechnologies/weaviate:1.11.0

    - name: Run GraphDB
      run: docker run -d -p 7200:7200 --name haystack_test_graphdb deepset/graphdb-free:9.4.1-adoptopenjdk11

    - name: Run Apache Tika
      run: docker run -d -p 9998:9998 -e "TIKA_CHILD_JAVA_OPTS=-JXms128m" -e "TIKA_CHILD_JAVA_OPTS=-JXmx128m" apache/tika:1.24.1

    - name: Run Parsr
      run: docker run -d -p 3001:3001 axarev/parsr:v1.2.2

    - name: Install pdftotext
      run: wget --no-check-certificate https://dl.xpdfreader.com/xpdf-tools-linux-4.04.tar.gz && tar -xvf xpdf-tools-linux-4.04.tar.gz && sudo cp xpdf-tools-linux-4.04/bin64/pdftotext /usr/local/bin

    - name: Install tesseract
      run: |
        sudo apt update
        sudo apt-get install tesseract-ocr libtesseract-dev poppler-utils

    # Haystack needs to be reinstalled at this stage to make sure the current commit's version is the one getting tested.
    # The cache can last way longer than a specific action's run, so older Haystack version could be carried over.
    - name: Install Haystack
      run: pip install .[all]

    - name: Run tests
      run: pytest -s -m "integration" .


  rest-and-ui-tests:
    needs: unit-tests
    runs-on: ubuntu-20.04
    timeout-minutes: 45
    
    steps:
    - uses: actions/checkout@v2
    - uses: ./../.github/actions/linux_cache

    - name: Run Elasticsearch
      run: docker run -d -p 9200:9200 -e "discovery.type=single-node" -e "ES_JAVA_OPTS=-Xms128m -Xmx128m" elasticsearch:7.9.2

    - name: Install pdftotext
      run: wget --no-check-certificate https://dl.xpdfreader.com/xpdf-tools-linux-4.04.tar.gz && tar -xvf xpdf-tools-linux-4.04.tar.gz && sudo cp xpdf-tools-linux-4.04/bin64/pdftotext /usr/local/bin

    # Haystack needs to be reinstalled at this stage to make sure the current commit's version is the one getting tested.
    # The cache can last way longer than a specific action's run, so older Haystack version could be carried over.
    - name: Reinstall Haystack
      run: |
        pip install rest_api/
        pip install ui/

    - name: Run tests
      run: pytest rest_api/ ui/
