name: Release new minor version docs

on:
  push:
    tags:
      # Trigger this only for the first patch release of the new minor
      - "v[0-9]+.[0-9]+.0"
      # Exclude 1.x tags
      - "!v1.[0-9]+.[0-9]+"

  pull_request:
env:
  PYTHON_VERSION: "3.9"

jobs:
  promote:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v5

      - name: Get version to release
        id: version
        shell: bash
        # We only need `major.minor` in Readme so we cut the full version string to the first two tokens
        run: |
          echo "version=$(cut -d "." -f 1,2 < VERSION.txt)" >> "$GITHUB_OUTPUT"

      - uses: actions/setup-python@v6
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Install promote_unstable_docs.py dependencies
        run: pip install requests

      # TODO: remove this once migration to Docusaurus is complete
      # - name: Release Readme version
      #   env:
      #     RDME_API_KEY: ${{ secrets.README_API_KEY }}
      #   run: |
      #     python ./.github/utils/promote_unstable_docs.py --version ${{ steps.version.outputs.version }}

      - name: Promote unstable docs for Docusaurus
        run: |
          python ./.github/utils/promote_unstable_docs_docusaurus.py --version ${{ steps.version.outputs.version }}

      - name: Create Pull Request with Docusaurus docs updates
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.HAYSTACK_BOT_TOKEN }}
          commit-message: "Promote unstable docs for Haystack ${{ steps.version.outputs.version }}"
          branch: promote-unstable-docs-${{ steps.version.outputs.version }}
          base: main
          title: "docs: promote unstable docs for Haystack ${{ steps.version.outputs.version }}"
          add-paths: |
            docs-website
          body: |
            This PR promotes the unstable docs for Haystack ${{ steps.version.outputs.version }} to stable.
            It is expected to run at the time of the release.
            You can inspect the docs preview and merge it. There should now be only one unstable version representing the next (main) branch.
