name: Check Release Notes

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
      - labeled
      - unlabeled
    paths-ignore:
      - "**.py"
      - "pyproject.toml"
      - "!.github/**/*.py"
      - "releasenotes/notes/*.yaml"

jobs:
  reno:
    runs-on: ubuntu-slim
    steps:
      - name: Skip mandatory job
        run: echo "Skipped!"
